{{#each erros1}}
    <div class="alert alert-danger">{{texto}}</div>

{{else}}

{{/each}}

<div class="card">
    <div class="card-body">
        <form action="/admin/postagens/nova" method="POST">
            <label for="titulo">Título: </label>
            <input type="text" name= "titulo" class="form-control" required>
            <label for="slug"> Slug: </label>
            <input type="text" name="slug" class="form-control" required>
            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" class="form-control" required>
            <label for="conteudo">Conteudo: </label>
            <textarea class="form-control" name="conteudo" rows="5" required></textarea>
            <label for="categoria">Categoria: </label>
            <select name="categoria" class="custom-select">
                    {{#each categorias}}
                        <option value="{{_id}}">{{nome}}</option>
                    {{else}}
                        <option value="0">Nenhuma categoria registrada</option>
                    {{/each}}
            </select>
            
            <button class="btn btn-success mt-3" type="submit">Criar Postagem</button>

        </form>
    </div>
</div>